<div class="container">
    <!-- Hello nick-zmienna -->
    <h1>Hello </h1> 
    <div class="information">
        <h2>Interests</h2>
<div class="interests">
    <ul>
        <div class="part">
            <li><button type="button"><b>Theater</b></button></li>
            <li><button type="button"><b>Jogging</b></button></li>
            <li><button type="button"><b>Cinema</b></button></li>
        </div>
        <div class="part">
            <li><button type="button"><b>FIFA</b></button></li>
            <li><button type="button"><b>Aquatics</b></button></li>
            <li><button type="button"><b>Classical music</b></button></li>
        </div>
        <div class="part">
            <li><button type="button"><b>Extreme sports</b></button></li>
            <li><button type="button"><b>Popular music</b></button></li>
            <li><button type="button"><b>Team games</b></button></li>
        </div>
    </ul>
    
</div>
<h2>Preferences</h2>
<div class="preferences">
<ul>
    <div class="opossite">
        <li><button type="button"><b>Silence</b></button></li>
        <li><button type="button"><b>Music</b></button></li>
    </div>
    <div class="opossite">
        <li><button type="button"><b>Small room(up to 5 people)</b></button></li>
        <li><button type="button"><b>Big room(around 15 people)</b></button></li>
    </div>
    <div class="opossite">
        <li><button type="button"><b>Introvert</b></button></li>
        <li><button type="button"><b>Extrovert</b></button></li>
    </div>
</ul> 
</div>
</div>
</div>

