<div> 
    <h1>REGISTRATION</h1>
        <form [formGroup]="registrationForm">

            <label for="username">Username </label>
            <input id="username" type="text" formControlName="username">

            <label for="name">Name </label>
            <input id="name" type="text" formControlName="name">
          
            <label for="surname">Surname: </label>
            <input id="surname" type="text" formControlName="surname">


            <label for="password">Password: </label>
            <input id="password" type="text" formControlName="password">

          
          </form>
</div>
