.nav-bar {
    background-color:  rgb(182, 221, 225);
    caret-color: transparent;
}
.filler {
    flex: 1 1 auto;
 }
.nav-bar-button:first-of-type {
    margin-right: 10px;
}

.nav-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    caret-color: transparent;
}

.title {
    font-size: 30px;
    margin-left: 10px;
    caret-color: transparent;
}
