.loginContainer {
    display: flex;
    justify-content: center;
    margin-top:  50px;
}

.container{
    margin-top: 80px;
    box-shadow: 0 0 40px 3px beige;
    width:400px;
    /* margin: 0 auto 0 auto; */
    background-color: antiquewhite;
    /* padding: 15px 32px;
    border: 2px solid antiquewhite; */
    border-radius: 10px;
    height: auto;
    display:flex;
    justify-content:right;
    align-items: center;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 300px;
    
}
label{
    margin-left: 35px;
}

.btnLoginIn {
    margin-top: 20px;
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
}
 
