.loginContainer {
    display: flex;
    justify-content: center;
    margin-top:  50px;
}

.container{
    margin-top: 80px;
    box-shadow: 0 0 40px 3px rgb(94, 198, 198);
    width:600px;
    /* margin: 0 auto 0 auto; */
    border-color:  rgb(125, 214, 214);
    border-style: solid;
    border-width: 2px;
    /* padding: 15px 32px;
    border: 2px solid antiquewhite; */
    border-radius: 10px;
    height: auto;
    display:flex;
    justify-content:right;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 600;
}

form{
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 600px;
    height: auto;
    
}

.btnLoginIn {
    margin-top: 20px;
    
        width: 200px;
        height: 50px;
        background-color: rgb(125, 214, 214);
        font-weight:600;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 10px;
        border-color: transparent;
    

 
}
mat-form-field {
    width: 500px;
    height: 80px;
}
 
