<div class="container">
    <form [formGroup]="eventForm">

        <input mat-input placeholder="Day" id="day" type="text" formControlName="day" [(ngModel)]="day">
        <input mat-input placeholder="Time" id="time" type="text" formControlName="time" [(ngModel)]="time">
        <input mat-input placeholder="Event name" id="eventName" type="text" formControlName="eventName" [(ngModel)]="eventName">
        <input mat-input id="tag" placeholder="Tag:"type="text" formControlName="tag" [(ngModel)]="tag">
    
    </form>

    <button (click)="addEvent()">Add event</button> 

    <button routerLink="/plan">Back to plan</button>
</div>