<div class="container">
  
    <form [formGroup]="eventForm" novalidate>

        <mat-form-field> 
        <input matInput placeholder="Day" id="day" type="text" formControlName="day" [(ngModel)]="day"
         ngModel pattern="Monday|Thursday|Wednesday|Thusday|Friday|Saturday">
        <mat-error *ngIf="eventForm.controls['day'].hasError('pattern')">
        <strong>Day:</strong> Monday, Thusday, Wednesday, Thursday, Friday, Saturday </mat-error>
        </mat-form-field>

        <mat-form-field> 
        <input matInput placeholder="Time" id="time" type="text" formControlName="time" [(ngModel)]="time"
        ngModel pattern="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$">
        <mat-error *ngIf="eventForm.controls['time'].hasError('pattern')">
            <strong>Time:</strong> 12:00:00
                  </mat-error>
        </mat-form-field>

        <mat-form-field> 
        <input matInput placeholder="Event name" id="eventName" type="text" formControlName="eventName" [(ngModel)]="eventName">
        <mat-error *ngIf="eventForm.controls['eventName'].hasError('required')"> 
        <strong>Event name</strong> is empty </mat-error>
        </mat-form-field>

        <mat-form-field> 
        <input matInput id="tag" placeholder="Tag:"type="text" formControlName="tag" [(ngModel)]="tag"
        ngModel pattern="Theater|Jogging|Cinema|FIFA|Aquatics|Classical music|Extreme sports|Pop music|Team games">
        <mat-error *ngIf="eventForm.controls['tag'].hasError('pattern')">
            <strong>Tag:</strong> Theater, Jogging, Cinema, FIFA, Aquatics, Classical music, Extreme sports, Popular music, Team games
                  </mat-error>
        </mat-form-field>
    
               
    </form>
    <button 
    routerLink="/plan"
    class="btn" 
    (click)="addEvent()"
     [disabled]="
     eventForm.controls['tag'].hasError('pattern') ||
     eventForm.controls['eventName'].hasError('required') ||
     eventForm.controls['time'].hasError('pattern') ||
     eventForm.controls['day'].hasError('pattern')"
     >Add event</button> 

    <button class="btn" routerLink="/plan">Back to plan</button>
</div>


