<div class="container">
    <h1>Our rooms</h1>
    <p>In order to take care of our employees we have created dedicated rooms to increase 
        general enjoyment during work. Company of people who share the same interests motivates us to take
        part in themed events together. Thanks to that we realize idea of work-life integration.</p>
    <h2>Room nr 1</h2>
    <div class="room">
        <img src="/assets/room1.png"/>
        <div class="description">
                <ul>
                    <li>Sport enthusiasts</li>
                    <li>Music based on individual preferences</li>
                    <li>Big room for 15 people</li>
                </ul>
                <button type="button"><b>Select</b></button>
        </div>
    </div>
    <h2>Room nr 2</h2>
    <div class="room">
        <img src="/assets/room2.png"/>
        <div class="description">
            <ul>
                <li>Classy room</li>
                <li>Calm classical music</li>
                <li>Small room for 5 people</li>
            </ul>
            <button type="button"><b>Select</b></button>
        </div>
    </div>
    <h2>Room nr 3</h2>
    <div class="room">
        <img src="/assets/room3.png"/>
        <div class="description">
            <ul>
                <li>Games fanatics</li>
                <li>Powerfull scorecore hits</li>
                <li>Board and console games , overall the office vibe</li>
                <li>Average room for 10 people</li>
            </ul>
            <button type="button"><b>Select</b></button>
            </div>
    </div>
    <h2>Room nr 4</h2>
    <div class="room">
        <img src="/assets/room4.png"/>
        <div class="description">
            <ul>
                <li>PoP room</li>
                <li>Only greatest hits in radio</li>
                <li>Dance parties, Parties, Group spa</li>
                <li>Big room for 15 people</li>
            </ul>
            <button type="button"><b>Select</b></button>
        </div>
    </div>
    <h2>Room nr 5</h2>
    <div class="room">
        <img src="/assets/room5.png"/>
        <div class="description">
            <ul>
                <li>Artistic room</li>
                <li>Calm place for each sensitive soul</li>
                <li>Poetry corner</li>
                <li>Big room for 15 people</li>
            </ul>
            <button type="button"><b>Select</b></button>
        </div>
    </div>
</div>
